@import 'assets/mixins';
@import 'assets/color';
@import 'assets/type';
@import 'assets/extends';
@include body-ess;
html,
body {
  font-family: 'Lato','Helvetica',Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  h1 {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.8;
  }
}
.jumbotron {
  background: $wet-asphalt url('../img/lap-black.jpg') center center;
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;
  color:#fff;
  .title {
    padding:80px 0;
    p{
      font-size:60px;
      font-weight: bold;
    }
  }
}

section.content{
  .content-main{
    padding:40px 0;
    p.lead{
      font-size:32px;
      font-weight: bold;
    }
    .meta-content{
      p{
        font-size:22px;
        font-weight: 400;
        color:$grey;
      }
    }
  }
}
